<div class="container col-sm-9">	
	<h1>Комментарии</h1>
	<form action="" role="form">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Выбрать категорию
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#"></a></li>
			</ul>
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Выбрать статью
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#"></a></li>
			</ul>
		</div>
		<textarea name="article" id="" class="col-sm-12" rows="10"></textarea>
		<button type="submit" class="btn-success">Добавить комментарий</button>
	</form>
</div>